*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}
.App{
  background-color: black;
  height: 100vh;
}
.container{
  display: flex;
  flex-direction: column;
}

.main-head{
  color: lightskyblue;
  text-align: center;
  margin: 20px;
}
.main{
  display: flex;
  justify-content: center;
  align-items: center;
}

.search{
  display: flex;
  justify-content: center;
}
.search-contact{
  background-color: white;
  height: 30px;
  width: 200px;
  border-radius: 5px;
  justify-content: center;
  padding: 5px;
  border: 2px solid rgba(245, 239, 239, 0.888);
  color: lightskyblue;
}
.card-container{
  display: flex;
   flex-direction: row;
  justify-content: space-around;
  align-items: center;  
  margin: 2px auto;
  height: 40px;
color: black;
background-color: white;
font-weight: bolder;
width: 100%;

}
.add-click{
  cursor: pointer;
}
.card-views{
  display: flex;
  border: 2px solid skyblue;
 width: 60%;
  margin: 20px auto;
  border-radius: 5px;
  padding: 5px;
  justify-content: space-around;
}
.show-edit-delete{
  display: flex;
  padding: 2px;
}

.list-style{
  list-style-type: none;
}
.show-details{
  cursor: pointer;
}
.delete{
  cursor: pointer;
}
.id{
  margin-top: 20px;
  background:none;
}
.edit{
  cursor: pointer;
}
